.bg-img{
    height: 100%;
    min-height: 100vh;
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
